:root {
    /* -------------------colors --------------------*/

    --bg-principal: rgb(236, 236, 231);
    --white: white;
    --black: black;
    --details: #00276c;
    --grey-text: rgba(0, 0, 0, 0.6);
    --black-text: rgb(0, 0, 0);
    --text-color: hsl(273, 4%, 45%);
   
  
    /* general settings */
    --font-family: Polestar Unica;
    --z-fixed: 100;
  
    /* general sizes */
    --big-font-size: 1.5rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
  }
  
  @font-face {
    src: url(https://www.polestar.com/shared-assets/fonts/polestar-unica/regular.woff2)
        format("woff2"),
      url(https://www.polestar.com/shared-assets/fonts/polestar-unica/regular.woff)
        format("woff");
    font-family: Polestar Unica;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  